In [83]:
import numpy as np
import pandas as pd

In [84]:
NASA_df = pd.read_csv('Data/NASA.csv')

In [85]:
NASA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        199 non-null    int64
 1   text                           197 non-null    object
 2   post_text                      189 non-null    object
 3   shared_text                    42 non-null     object
 4   original_text                  0 non-null      float64
 5   time                           199 non-null    object
 6   timestamp                      199 non-null    int64
 7   image                          84 non-null     object
 8   image_lowquality               199 non-null    object
 9   images                         199 non-null    object
 10  images_description             199 non-null    object
 11  images_lowquality              199 non-null    object
 12  images_lowquality_description  199 non-null    object
 13  video                          76 non-null     object
 14  video_duration_seconds         0 non-null      float64
 15  video_height                   0 non-null      float64
 16  video_id                       76 non-null     float64
 17  video_quality                  0 non-null      float64
 18  video_size_MB                  0 non-null      float64
 19  video_thumbnail                76 non-null     object
 20  video_watches                  0 non-null      float64
 21  video_width                    0 non-null      float64
 22  likes                          116 non-null    float64
 23  comments                       199 non-null    int64
 24  shares                         199 non-null    int64
 25  post_url                       199 non-null    object
 26  link                           169 non-null    object
 27  links                          199 non-null    object
 28  user_id                        199 non-null    int64
 29  username                       199 non-null    object
 30  user_url                       199 non-null    object
 31  is_live                        199 non-null    bool
 32  factcheck                      0 non-null      float64
 33  shared_post_id                 4 non-null      float64
 34  shared_time                    4 non-null      object
 35  shared_user_id                 4 non-null      float64
 36  shared_username                4 non-null      object
 37  shared_post_url                4 non-null      object
 38  available                      199 non-null    bool
 39  comments_full                  199 non-null    object
 40  reactors                       83 non-null     object
 41  w3_fb_url                      83 non-null     object
 42  reactions                      83 non-null     object
 43  reaction_count                 199 non-null    int64
 44  with                           5 non-null      object
 45  page_id                        199 non-null    int64
 46  sharers                        0 non-null      float64
 47  image_id                       80 non-null     float64
 48  image_ids                      199 non-null    object
 49  was_live                       199 non-null    bool
 50  fetched_time                   83 non-null     object
dtypes: bool(3), float64(14), int64(7), object(27)
memory usage: 75.3+ KB

In [86]:
NASA_df2 = pd.read_csv("Data/NASA2.csv")

In [87]:
NASA_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   original_request_url           338 non-null    object
 1   post_url                       338 non-null    object
 2   post_id                        338 non-null    object
 3   text                           338 non-null    object
 4   post_text                      323 non-null    object
 5   shared_text                    98 non-null     object
 6   original_text                  1 non-null      object
 7   time                           338 non-null    object
 8   timestamp                      333 non-null    float64
 9   image                          134 non-null    object
 10  image_lowquality               338 non-null    object
 11  images                         338 non-null    object
 12  images_description             338 non-null    object
 13  images_lowquality              338 non-null    object
 14  images_lowquality_description  338 non-null    object
 15  video                          133 non-null    object
 16  video_duration_seconds         0 non-null      float64
 17  video_height                   0 non-null      float64
 18  video_id                       133 non-null    float64
 19  video_quality                  0 non-null      float64
 20  video_size_MB                  0 non-null      float64
 21  video_thumbnail                129 non-null    object
 22  video_watches                  0 non-null      float64
 23  video_width                    0 non-null      float64
 24  likes                          338 non-null    int64
 25  comments                       336 non-null    float64
 26  shares                         338 non-null    int64
 27  link                           312 non-null    object
 28  links                          338 non-null    object
 29  user_id                        336 non-null    float64
 30  username                       338 non-null    object
 31  user_url                       338 non-null    object
 32  is_live                        338 non-null    bool
 33  factcheck                      0 non-null      float64
 34  shared_post_id                 2 non-null      float64
 35  shared_time                    2 non-null      object
 36  shared_user_id                 2 non-null      float64
 37  shared_username                2 non-null      object
 38  shared_post_url                2 non-null      object
 39  available                      338 non-null    bool
 40  comments_full                  338 non-null    object
 41  reactors                       338 non-null    object
 42  w3_fb_url                      323 non-null    object
 43  reactions                      338 non-null    object
 44  reaction_count                 338 non-null    int64
 45  with                           21 non-null     object
 46  page_id                        336 non-null    float64
 47  sharers                        0 non-null      float64
 48  image_id                       118 non-null    float64
 49  image_ids                      338 non-null    object
 50  was_live                       336 non-null    object
 51  fetched_time                   338 non-null    object
dtypes: bool(2), float64(16), int64(3), object(31)
memory usage: 132.8+ KB

In [88]:
useful = ['text', 'time', 'comments', 'shares', 'link', 'links', 'username', 'comments_full',
          'reactions', 'reaction_count']
NASA_final_df = NASA_df2[useful]
NASA_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   text            338 non-null    object
 1   time            338 non-null    object
 2   comments        336 non-null    float64
 3   shares          338 non-null    int64
 4   link            312 non-null    object
 5   links           338 non-null    object
 6   username        338 non-null    object
 7   comments_full   338 non-null    object
 8   reactions       338 non-null    object
 9   reaction_count  338 non-null    int64
dtypes: float64(1), int64(2), object(7)
memory usage: 26.5+ KB

In [89]:
NASA_final_df['time'] = pd.to_datetime(NASA_final_df['time'])
NASA_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   text            338 non-null    object
 1   time            338 non-null    datetime64[ns]
 2   comments        336 non-null    float64
 3   shares          338 non-null    int64
 4   link            312 non-null    object
 5   links           338 non-null    object
 6   username        338 non-null    object
 7   comments_full   338 non-null    object
 8   reactions       338 non-null    object
 9   reaction_count  338 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 26.5+ KB

C:\Users\Admin\AppData\Local\Temp\ipykernel_15388\4219315384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NASA_final_df['time'] = pd.to_datetime(NASA_final_df['time'])

In [90]:
NASA_final_df.duplicated().sum()

0

In [91]:
NASA_final_df.isnull().sum()

text               0
time               0
comments           2
shares             0
link              26
links              0
username           0
comments_full      0
reactions          0
reaction_count     0
dtype: int64

In [92]:
not_empty = NASA_final_df[NASA_final_df['comments_full'].apply(lambda x : (len(x) > 2))]
not_empty.shape

(79, 10)

In [93]:
NASA_final_df['comments_full'] = NASA_final_df['comments_full'].replace('[]', None)
NASA_final_df['comments_full']

C:\Users\Admin\AppData\Local\Temp\ipykernel_15388\3557958831.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NASA_final_df['comments_full'] = NASA_final_df['comments_full'].replace('[]', None)

0      [{'comment_id': '660369116281981', 'comment_ur...
1      [{'comment_id': '881863933349145', 'comment_ur...
2      [{'comment_id': '1067008137665970', 'comment_u...
3      [{'comment_id': '1446991415854582', 'comment_u...
4      [{'comment_id': '693678946058649', 'comment_ur...
                             ...
333                                                 None
334    [{'comment_id': '987548015608528', 'comment_ur...
335                                                 None
336                                                 None
337                                                 None
Name: comments_full, Length: 338, dtype: object

In [94]:
NASA_final_df = NASA_final_df.fillna(NASA_df)

In [95]:
NASA_final_df['comments_full'] = NASA_final_df['comments_full'].fillna('[]');
NASA_final_df['comments_full'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 338 entries, 0 to 337
Series name: comments_full
Non-Null Count  Dtype
--------------  -----
338 non-null    object
dtypes: object(1)
memory usage: 2.8+ KB

In [96]:
not_empty = NASA_final_df[NASA_final_df['comments_full'].apply(lambda x : (len(x) > 2))]
not_empty.shape

(125, 10)

In [97]:
NASA_final_df['comments'] = NASA_final_df['comments'].fillna(0)
NASA_final_df['link'] = NASA_final_df['link'].fillna('')

In [98]:
NASA_final_df.to_csv('Data/NASA_final.csv',index=False)